.form-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 220, 0.6);
  border-radius: 10px;
}
.form-cover{
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-cover > label{
  margin-top: 10px;
}

.form-cover > input {
  border-radius: 3px;
  height: 30px;
}
.form-cover > input[type='submit']{
 margin-top: 10px;
}

@keyframes loading{
  0%{

  }
  100%{
    transform: rotate(360deg);
  }
}

.loading-animate{
  animation: loading 0.5s linear infinite;
}
.black-radial-back {
  /* background-image: radial-gradient(rgb(49, 44, 44), black, rgb(31, 29, 29)); */
}
