.important-color {
  color: #4a4e69;
}
.important-bg {
  background-color: #4a4e69;
}

/* bg color */
.primary-bg{
  background-color: #fefae0;
}

.secondary-bg{
  background-color: #e9edc9;
}

.main-bg{
  background-color: #EDE8DC;
}
/* card-color */
.card-color {
  background-color: rgba(165, 182, 141, .2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.text-color{
  color: #E7CCCC
}
